<header
  class="navbar fixed top-0 left-0 w-full bg-base-100/90 backdrop-blur-md shadow-md z-50 justify-center">
  <nav class="max-w-4xl w-full flex items-center justify-between px-6 py-0">

    <!-- Logo -->
     <div class="flex justify-center items-center w-full translate-x-6">
    <button (click)="scrollTo('inicio')" class="flex items-center group">
      <img
        src="assets/images/logosPuntoGestion/fhPunto-Gestion_BLANCO.png"
        alt="Punto Gestión"
        class="h-16" />
    </button>
    </div>

    <!-- Menu -->
     <div class="flex justify-center items-center">
    <ul class="flex items-center space-x-10 font-medium text-sm text-gray-700">
      @for (link of ['quienes-somos', 'servicios', 'contacto']; track $index) {
        <li>
          <button
            (click)="scrollTo(link)"
            class="relative btn btn-ghost text-sm capitalize transition-all duration-300 hover:text-[#ff7ba9] hover:after:content-[''] hover:after:absolute hover:after:bottom-0 hover:after:left-0 hover:after:w-full hover:after:h-[2px] hover:after:bg-[#ff7ba9] whitespace-nowrap">
            {{ link.replace('-', ' ') }}
          </button>
        </li>
      }

      <!-- Dropdown Productos -->
      <li class="relative">
        <button
          (click)="toggleDropdown = !toggleDropdown"
          class="btn btn-ghost text-sm capitalize transition-all duration-300 hover:text-[#ff7ba9] flex items-center">
          Productos
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-3.5 h-3.5 ml-1 transition-transform duration-200"
            [class.rotate-180]="toggleDropdown"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>

        @if (toggleDropdown) {
          <ul
            class="absolute left-0 mt-2 w-52 rounded-lg bg-white shadow-lg border border-pink-100 animate-fade-in-down">
            @for (product of products; track $index) {
              <li>
                <a
                  (click)="scrollTo('productos')"
                  class="block px-4 py-2 text-gray-700 hover:bg-pink-50 hover:text-[#ff7ba9] transition-colors duration-300 cursor-pointer">
                  {{ product }}
                </a>
              </li>
            }
          </ul>
        }
      </li>
    </ul>
    </div>
  </nav>
</header>
